services:
  db:
    container_name: db-dev
    image: postgres:18-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5400:5432"
    restart: unless-stopped
    env_file:
      - .env

  web:
    build: .
    container_name: web-dev
    entrypoint: /app/scripts/entrypoint.sh
    volumes:
     - app_data:/app/cdn
    ports:
      - "8005:8000"
    depends_on:
      - db
    restart: unless-stopped
    env_file:
      - .env

volumes:
  postgres_data:
  app_data:
