services:
  db:
    container_name: db-container-name
    image: postgres:18-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5400:5432"
    restart: unless-stopped
    env_file:
      - .env

  web:
    build: .
    container_name: web-container-name
    entrypoint: /app/scripts/entrypoint.sh
    volumes:
      - static_data:/app/staticfiles
      - media_data:/app/media
    ports:
      - "8005:8000"
    depends_on:
      - db
    restart: unless-stopped
    env_file:
      - .env

volumes:
  postgres_data:
  static_data:
  media_data:
